.idea
XIS_RestApi/Mongodb_OpsHandler/__pycache__/__init__.cpython-35.pyc
XIS_RestApi/Mongodb_OpsHandler/__pycache__/DbOperationsHandler.cpython-35.pyc
XIS_RestApi/Image_EncoderDecoder/__pycache__/
XIS_RestApi/Minio_OpsHandler/__pycache__/
XIS_RestApi/AppConfig/__pycache__/ConfigSettings.cpython-35.pyc




